*{
    margin: 0%;
padding: 0%;
}
body{
    background-color: lightpink;
    color: darkmagenta;
}
#bgimage{
width: 1000px;
height: 300px;
}
#name{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-right: -550;
    transform: translate(200px -200px);
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
   }
.link{
    text-decoration: none;
    cursor: pointer;
}
#line{
    width: 1500px;
}
#Home{
    color: black;
}